<div class="dialog-body">
  <h1>Atualizar conta</h1>
  <div class="dialog-form-fields" [formGroup]="updateForm">
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Password"
        formControlName="password"
        type="password"
      />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" />
    </mat-form-field>

    <button mat-raised-button (click)="submit()">Submit</button>
  </div>
</div>
