<app-toolbar />
<div class="categories-body">
  <div class="categories-body">
    <div class="categories-sidebar">
      <div class="button-container">
        @if (isAdmin()) {
        <button mat-stroked-button class="button" (click)="addCategory()">
          Adicionar Categoria
        </button>
        }
        <button mat-stroked-button class="button" (click)="refreshCategories()">
          Refresh
        </button>
      </div>

      <div class="category-list">
        @for (category of foundCategories(); track category.id) {
        <button
          mat-stroked-button
          class="button"
          (click)="selectCategory(category.id)"
        >
          {{ category.name }}
        </button>
        }
      </div>
    </div>
    @if (selectedCategory()) {
    <div class="categories-content">
      <div class="categories-content-body">
        <div>
          <h1>{{ selectedCategory()?.name }}</h1>
        </div>
        @if (isAdmin()) {
        <div class="category-buttons">
          <button mat-stroked-button (click)="editCategory()">Editar</button>
          <button mat-stroked-button (click)="deleteCategory()">Apagar</button>
        </div>
        }
      </div>
    </div>
    }
  </div>
</div>
