.categories-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.categories-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 300px;
    background-color: white;
}

.button-container {
    padding: 20px;
}

.category-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.button {
    width: 250px;
}