.user-card-body {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: white;
    width: 300px;
    border: 10px;
    border-radius: 10px;
    padding: 10px;
}

.card-options {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.card-button {
    border-radius: 0;
}