<div class="home-container">
  <div class="main-menu">
    <h1>Menu de testes</h1>
    <div class="menu-buttons">
      <button mat-flat-button (click)="onGetUser()">Encontrar usuário</button>
      <button mat-flat-button (click)="onListUsers()">Listar usuários</button>
      <button mat-flat-button (click)="onDeleteUser()">Apagar usuário</button> <!-- can probably put delete and update in the same dialog -->
      <button mat-flat-button (click)="onUpdateUser()">Atualizar usuário</button>
      <button mat-flat-button (click)="onLogout()">Logout</button>
    </div>
  </div>
</div>
